.gitignore.
desktop.ini
pm-opc-n2/.vs/pm-opc-n2/v15/.suo
pm-opc-n2/Debug/board.buildinfo
pm-opc-n2/Debug/core.a
pm-opc-n2/Debug/pm-opc-n2.cpp.d
pm-opc-n2/Debug/pm-opc-n2.cpp.o
pm-opc-n2/Debug/pm-opc-n2.elf
pm-opc-n2/Debug/pm-opc-n2.hex
pm-opc-n2/Debug/pm-opc-n2.ino.elf
pm-opc-n2/Debug/pm-opc-n2.ino.hex
pm-opc-n2/Debug/pm-opc-n2.ino.with_bootloader.hex
pm-opc-n2/Debug/pm-opc-n2.with_bootloader.hex
pm-opc-n2/Release/SPI/SPI.cpp.d
pm-opc-n2/Release/SPI/SPI.cpp.o
pm-opc-n2/Release/board.buildinfo
pm-opc-n2/Release/core.a
pm-opc-n2/Release/opcn2/opcn2.cpp.d
pm-opc-n2/Release/opcn2/opcn2.cpp.o
pm-opc-n2/Release/pm-opc-n2.cpp.d
pm-opc-n2/Release/pm-opc-n2.cpp.o
pm-opc-n2/Release/pm-opc-n2.elf
pm-opc-n2/Release/pm-opc-n2.hex
pm-opc-n2/Release/pm-opc-n2.ino.elf
pm-opc-n2/Release/pm-opc-n2.ino.hex
pm-opc-n2/Release/pm-opc-n2.ino.with_bootloader.hex
pm-opc-n2/Release/pm-opc-n2.with_bootloader.hex
pm-opc-n2/__vm/.pm-opc-n2.vsarduino.h
pm-opc-n2/__vm/Compile.vmps.xml
pm-opc-n2/__vm/Configuration.Debug.vmps.xml
pm-opc-n2/__vm/Configuration.Release.vmps.xml
pm-opc-n2/__vm/Upload.vmps.xml
pm-opc-n2/pm-opc-n2.sln
pm-opc-n2/pm-opc-n2.vcxproj
pm-opc-n2/pm-opc-n2.vcxproj.filters

main/Release/SPI/SPI.cpp.d
main/Release/SPI/SPI.cpp.o
main/Release/board.buildinfo
main/Release/main.cpp.d
main/Release/main.cpp.o
main/Release/main.elf
main/Release/main.hex
main/Release/main.ino.elf
main/Release/main.ino.hex
main/Release/opcn2/opcn2.cpp.d
main/Release/opcn2/opcn2.cpp.o
main/__vm/.main.vsarduino.h
main/__vm/Compile.vmps.xml
main/__vm/Configuration.Release.vmps.xml
main/__vm/Upload.vmps.xml
main/main.vcxproj
main/main.vcxproj.filters

basic_scanner/


